

      <nav class=" navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="/images/train.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          Ticketac
        </a>
        <div id="linkNav">
          <a class="itemNav deconnexion" href="#">Deconnexion</a>
          <a class="itemNav mYLT" href="/">My Last Trip</a>
      </div>
        
      </nav>
